.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.profile-text {
  font-size: 15pt; 
  font-weight: lighter;
}

.btn-outline-secondary {
  color: white;
  border: 1px solid white;
}

.btn-primary {
  background-color: white;
  color: black;
  border: none;
}

.text-body-emphasis {
  font-size: 23pt;
  text-align: center;
}

#testimonial {
  text-align: center;
}

.logos {
  width: 180px;
}

.tnw-logo {
  height: 30px;
  width: 80px;
}

.sign-btn {
  color: #212529;
  border-color: #212529;
}

.color-btn {
  color: white;
  background-color: #212529;
}

.pricing-title {
  font-size: 40pt;
}